/* styles.css */

html,body{
   height: 100%;
}

img{
   max-width: 100%;
}

/* cover */

#cover{
   background: #222 url('img/stars.jpg') center center no-repeat;
   background-size: cover;
   height: 100%;
   color: white;
   text-align: center;
   display: flex;
   align-items: center;
}

#cover_caption{
   width: 100%;
}

#about{
   background: url('img/girlincar.jpg') center center no-repeat;
   background-size: cover;
}

#footer-main{
   background: #222;
   color: white;
   font-size: 0.8rem;
   padding: 2.5rem 0;
}

.about-text{
   background: rgba(0,0,0,0.8);
   color: white;
   padding: 1.875rem;
}

.section-content{
   padding: 5rem 0;
}

.col-sm-10{
   margin: 0 auto;
}
